@import '~node_modules/modern-normalize/modern-normalize.css';

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}

button {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.active-link {
    color: #67ba04;
    text-decoration: underline;
}