.played-games li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.played-games div {
    display: flex;
    align-items: center;
}

.played-games li:not(:last-child) {
    margin-bottom: 10px;
}

.number-of-plays {
    margin-right: 5px;
}

.mini-image {
    width: 50px;
    margin-right: 10px;
}

.add-game {
    position: fixed;
    bottom: 30px;
    right: 80px;
    /* background: none;
    border: none; */
}

.add-game img {
    width: 30px;
}