.game-list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.game-list li:nth-child(odd) {
    background-color: $secondary-color;
}

.game-list li:not(:last-child) {
    margin-bottom: 10px;
}

.thumbnail{
    display: block;
    max-height: 100px;
    width: auto;
}

.search-form {
    margin-bottom: 20px;
}

.add-game-button {
    background: none;
    border: none;
}

.add-game-button img {
    width: 30px;
}