.game-list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: $primary-color;
    color: $text-color-light;
}

.game-list li:not(:last-child) {
    margin-bottom: 10px;
}

.thumbnail{
    display: block;
    max-height: 100px;
    width: auto;
    cursor: zoom-in;
}

.search-form {
    margin-bottom: 20px;
    position: relative;
}

.add-game-button {
    background: none;
    border: none;
}

.add-game-button img {
    width: 30px;
}

.game-name {
    display: block;
    margin-left: 25px;
}

.search-icon {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 0px;
    left: 155px;
    stroke: $text-color-light;
    stroke-width: 1.5;
    fill: transparent;
}

.category span:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    background-image: url("../images/circle.png");
}

.description-button {
    border: none;
    padding: 0;
    color: $accent-color;
}

.show-more-container {
    padding: 10px;
    overflow-y: auto;
}

.show-more-container img {
    width: 100%;
}