.game-list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: $primary-color;
    color: $text-color-light;
}

//.game-list li {
//    background-color: $primary-color;
//    color: $text-color-light;
//}

.game-list li:not(:last-child) {
    margin-bottom: 10px;
}

.thumbnail{
    display: block;
    max-height: 100px;
    width: auto;
}

.search-form {
    margin-bottom: 20px;
}

.add-game-button {
    background: none;
    border: none;
}

.add-game-button img {
    width: 30px;
}

.game-name {
    display: block;
    margin-left: 25px;
}

.search-icon {
    position: absolute;
    height: 25px;
    width: 25px;
    top: 114px;
    left: 179px;
    stroke: $text-color-light;
    stroke-width: 1.5;
    fill: transparent;
}