.played-games li:not(:last-child),
.players li:not(:last-child) {
    margin-bottom: 10px;
}

.played-games li:nth-child(odd){
    background-color: #ccc;
}

.played-games li:nth-child(even){
    background-color: #eee;
}

.number-of-plays {
    margin-right: 5px;
}

.add-game {
    position: fixed;
    bottom: 30px;
    right: 80px;
}

.add-game img {
    width: 30px;
}