.login-modal-overlay form,
.add-player-modal-overlay form,
.players-settings-modal-overlay form {
    background-color: $secondary-color;
    display: flex;
    width: 300px;
    height: 400px;
    padding: 30px;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
}

.add-player-modal-overlay form,
.players-settings-modal-overlay form {
    height: 170px;
}

.add-player-modal-overlay,
.players-settings-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}

#login-form input,
#signup-form input,
#add-player-form input,
#rename-form input,
#hide-form input  {
    display: block;
    width: 100%;
}

#login-form label,
#signup-form label,
#add-player-form label,
#rename-form label,
#hide-form label {
    margin-bottom: 20px;
}

.close-login-modal,
.close-player-modal,
.close-player-settings-modal {
    position: absolute;
    right: 10px;
    top: 10px;
}

.google-button {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.google-image {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.svg-icon {
    position: absolute;
    fill: $secondary-color;
    height: 30px;
    width: 30px;
}
form#login-form .svg-icon {
    top: 108px;
    left: 237px;
}

form#signup-form .password .svg-icon {
    top: 108px;
    left: 237px;
}

form#signup-form .confirm .svg-icon {
    top: 171px;
    left: 237px;
}

.svg-icon:hover,
.svg-icon.visible {
    fill: currentColor;
}
