.accordion {
  background-color: $primary-color;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: $secondary-color;
}

.panel {
  display: none;
  overflow: hidden;
}

.accordion:after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-image: url("../images/arrow.png");
    transform: rotate(180deg);
    float: right;
}

.active:after {
  transform: rotate(0deg);
}

/* Style the tab content */
.players.tabcontent {
  height: 205px;
}

.legend ul {
  display: flex;
  flex-wrap: wrap;
}

.empty::after {
  content: "No games played yet";
  display: inline-block;
}

.empty canvas {
  display: none;
}
