<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add games</title>
    <link rel="stylesheet" href="../sass/index.scss" />
    <script type="module" src="../index.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <a href="../index.html">
                <img class="logo" src="../images/logo.png" alt="">
            </a>
            <ul class="menu hidden">
                <li>
                    <a href="../index.html">Games</a>
                </li>
                <li>
                    <a href="#">Players</a>
                </li>
                <li>
                    <a href="#">Settings</a>
                </li>
                <li>
                    <button class="logout-button" href="#">Log out</button>
                </li>
            </ul>
            <ul class="login-menu hidden">
                <li>
                    <button class="signin-button">Sing in</button>
                </li>
                <li>
                    <button class="signup-button">Sign up</button>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <div class="container">
            <p>asdksgkdjgkdgfhjhgfkjghkfj</p>
        </div>
    </main>
</body>
</html>