<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game search</title>
    <link rel="stylesheet" href="../sass/index.scss" />
    <script type="module" src="../index.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <a href="../index.html">
                <img class="logo" src="../images/logo.png" alt="">
            </a>
            <ul class="menu">
                <li>
                    <a href="../index.html">Games</a>
                </li>
                <li>
                    <a href="#">Players</a>
                </li>
                <li>
                    <a href="#">Settings</a>
                </li>
            </ul>
        </div>
    </header>
    <main>
        <div class="container">
            <form class="search-form" action="">    
                <label><input class="search-input" type="text" name="search"></label>
                <button class="submit-button" type="submit">Search</button>
            </form>
            <ul class="game-list"></ul>
        </div>
    </main>
</body>
</html>