<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game search</title>
    <link rel="stylesheet" href="../sass/index.scss" />
    <script type="module" src="../index.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <a href="../index.html">
                <img class="logo" src="../images/logo.png" alt="">
            </a>
            <label class="switch label hidden">
                <input type="checkbox" class="header-checkbox">
                <span class="slider round"></span>
            </label>
            <button class="burger-button" type="button">
                <svg width="24" height="16">
                    <use class="burger-menu" href="../images/sprite.svg#burger"></use>
                    <use class="burger-close" href="../images/sprite.svg#burger-close"></use>
                </svg>
            </button>
            <div class="menu-container">
                <ul class="menu hidden">
                    <li>
                        <a href="../index.html">My list</a>
                    </li>
                    <li>
                        <a class="active-link" href="../partials/game_search.html">Add game</a>
                    </li>
                    <li>
                        <a href="../partials/favourites.html">Favourites</a>
                    </li>
                    <li>
                        <a href="../partials/players.html">Players</a>
                    </li>
                    <li>
                        <a href="../partials/settings.html">Settings</a>
                    </li>
                    <li>
                        <button class="logout-button">Log out</button>
                    </li>
                </ul>
                <ul class="login-menu hidden">
                    <li>
                        <button class="signin-button">Sing in</button>
                    </li>
                    <li>
                        <button class="signup-button">Sign up</button>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <form class="search-form">
                <label><input class="search-input" type="text" name="search"></label>
                <svg class="search-icon">
                    <use href="../images/sprite.svg#icon-search"/>
                </svg>
                <button class="submit-button" type="submit" disabled>Search</button>
            </form>
            <ul class="game-list"></ul>
        </div>

        <div class="show-more-modal-overlay hidden">
            <form>
                <div class="show-more-container"></div>
                <button type="button" class="close-show-more-modal">X</button>
            </form>
        </div>
    </main>
    <script type="module" src="../js/game_search.js"></script>
</body>
</html>